<!DOCTYPE html>
<html lang="en" ng-app="red23-site">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Node CMS Seed</title>
    <!-- STYLES -->
    <!--    <link rel="stylesheet" href="admin/css/main.min.css" />-->

    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/angular-datatables/0.5.5/css/angular-datatables.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="admin/css/rdash.css">
    <link rel="stylesheet" href="admin/css/table.css" />
    <link rel="stylesheet" href="admin/css/validator.css">
    <!-- SCRIPTS -->
    <!--    <script src="admin/js/main.min.js"></script>-->
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/angular.js/1.5.8/angular.js"></script>
    <script type="text/javascript" src="admin/js/common/ui-bootstrap-tpls-2.2.0.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/angular.js/1.5.8/angular-cookies.js"></script>
    <script type="text/javascript" src="admin/js/common/angular-ui-router.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/angular-datatables/0.5.5/angular-datatables.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="admin/js/dashboard.js"></script>
    <script type="text/javascript" src="admin/js/controller.js"></script>
    <script type="text/javascript" src="admin/js/services/httpService.js"></script>
    <script type="text/javascript" src="admin/js/directive.js"></script>
    <script type="text/javascript" src="admin/js/controllers/userListController.js"></script>
    <script type="text/javascript" src="admin/js/controllers/userUpdateController.js"></script>
    <script type="text/javascript" src="admin/js/controllers/userNewController.js"></script>
    <script type="text/javascript" src="admin/js/controllers/userDeleteController.js"></script>
    <script type="text/javascript" src="admin/js/controllers/userViewController.js"></script>
    <script type="text/javascript" src="js/controllers/frontendLoginController.js"></script>
    <!--angular-bootstrap for validating may be a proper approach-->
</head>
<body>
    <div ui-view></div>
</body>