<!DOCTYPE html>
<html lang="en" ng-app="red23-site">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Node CMS Seed</title>
   
    <!-- SCRIPTS -->
    <!--    <script src="admin/js/main.min.js"></script>-->
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/angular.js/1.5.8/angular.js"></script>
    <script type="text/javascript" src="admin/js/common/ui-bootstrap-tpls-2.2.0.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/angular.js/1.5.8/angular-cookies.js"></script>
    <script type="text/javascript" src="admin/js/common/angular-ui-router.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/angular-datatables/0.5.5/angular-datatables.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="js/dashboard.js"></script>
    <script type="text/javascript" src="admin/js/interceptor/authInterceptor.js"></script>
    <script type="text/javascript" src="admin/js/services/httpService.js"></script>
    <script type="text/javascript" src="admin/js/directive.js"></script>
    <script type="text/javascript" src="admin/js/controllers/user/userListController.js"></script>
    <script type="text/javascript" src="admin/js/controllers/user/userUpdateController.js"></script>
    <script type="text/javascript" src="admin/js/controllers/user/userNewController.js"></script>
    <script type="text/javascript" src="admin/js/controllers/user/userDeleteController.js"></script>
    <script type="text/javascript" src="admin/js/controllers/user/userViewController.js"></script>
    <script type="text/javascript" src="js/controllers/frontendLoginController.js"></script>
    <script type="text/javascript" src="js/controllers/frontendMainController.js"></script>
    <script type="text/javascript" src="admin/js/controllers/login/backendLoginController.js"></script>
    <script type="text/javascript" src="admin/js/controllers/master/backendMasterController.js"></script>


</head>
<body>
    <div ui-view></div>
</body>