<div ng-controller="UserListCtrl as userlist_vm">
   <br>
   <br>
    <button><h4>New User</h4></button>
    <span></span><h1 class="text-center">This is User List</h1>
    <table class="responstable" data-page-length='10' datatable="ng">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>CreateDate</th>
                <th>UpdateDate</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in userlist_vm.users" on-repeat-over>
                <td ng-bind="$index+1"></td>
                <td ng-bind="user.name"></td>
                <td ng-bind="user.username"></td>
                <td ng-bind="user.email"></td>
                <td ng-bind="user.role"></td>
                <td ng-bind="user.createDate |date:'MMM d, y'"></td>
                <td ng-bind="user.updateDate |date:'MMM d, y'"></td>
                <td>
                    <a ui-sref="updateUser({id: user._id})">Update</a>
                    <a ui-sref="deleteUser({id: user._id})">Delete</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>CreateDate</th>
                <th>UpdateDate</th>
                <th>Operation</th>
            </tr>
        </tfoot>
    </table>
</div>