<div class="table-div" ng-controller="UserListCtrl as userlist_vm">
<h1>This is <span>User List</span></h1>

<table class="responstable">
  
  <tr>
    <th>No</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Role</th>
    <th>CreateDate</th>
    <th>UpdateDate</th>
    <th>Operation</th>
  </tr>
  
  <tr ng-repeat="user in userlist_vm.users | orderBy: 'createDate' : true track by $index">
    <td>{{$index}}</td>
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.role}}</td>
    <td>{{user.createDate |date:"MMM d, y"}}</td>
    <td>{{user.updateDate |date:"MMM d, y"}}</td>
    <td>
        <a ui-sref="updateUser({id: user._id})">Update</a>
        <a ui-sref="deleteUser({id: user._id})">Delete</a>
    </td>
  </tr>
</table>
</div>
